<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>啦啦啦</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>啦啦啦</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>哈哈哈</string>
		<key>h</key>
		<string>50</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>呀呀呀</string>
		<key>h</key>
		<string>60</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>咯咯咯</string>
		<key>h</key>
		<string>50</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>德玛西亚</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>道之所在</string>
		<key>h</key>
		<string>80</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>虽千万人</string>
		<key>h</key>
		<string>60</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>吾往矣</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>君子坦荡荡</string>
		<key>h</key>
		<string>90</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>唯大英雄</string>
		<key>h</key>
		<string>50</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>能本色</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>是真名士</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自风流</string>
		<key>h</key>
		<string>80</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>教育的目的当是</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>向人传递生命的气息</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公欲渡河</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公勿渡河</string>
		<key>h</key>
		<string>50</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>渡河而死</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其耐公何？</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>道可道</string>
		<key>h</key>
		<string>50</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>非恒道</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>名可名</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>非恒名</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>君子有所为</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>有所不为</string>
		<key>h</key>
		<string>40</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大丈夫</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>有所惧</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>有所不惧</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>子非鱼</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
	<dict>
		<key>title</key>
		<string>乃猪也</string>
		<key>h</key>
		<string>70</string>
		<key>w</key>
		<string>80</string>
	</dict>
</array>
</plist>
